.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }

  .login-box {
    width: 100%;
    max-width: 420px;
    padding: 2.5rem;
    border: 1.5px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .login-title{
    display: flex;
    justify-content:space-evenly;
  }

  .login-title button {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    border: none !important;
    outline: none !important;
    background: none !important;
    box-shadow: none !important;
    cursor: pointer;
  }

  .login-title button.selected {
    transform: scale(1.2);
    color: #007bff;
  }

  .login-label {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
    font-size: 14px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  .required {
    color: red;
    font-weight: bold;
  }

  .login-button {
    background-color: #007bff;
    color: white;
    width: 100%;
    margin-top: 6px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  .login-button:hover {
    background-color: #0056b3;
  }

  .password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  }

.login-input {
  margin-bottom: 2rem;
  width: 100%;
  padding: 5px;
  outline: none;
}

.login-input:focus {
  border-color: rgba(0, 0, 0, 0.832);
  border-width: 2px;
}

.eye-button {
  position: absolute;
  right: 5px;
  top: 3px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  transition: color 0.2s ease;
}

.eye-button:focus {
  outline: none;
  box-shadow: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

input[type="password"]::-webkit-input-decoration-container {
  display: none !important;
}
